@use 'colors';

%trapezium {

	border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    height: 0;
    margin: auto;

    p {
    	margin-top: 0px;
    	text-align: center;
    	font-size: 120%;
    }
}

main {
	
	.top {
  		width: 0; 
  		border-bottom: 65px solid colors.$red;
  		color: white;
  		@extend %trapezium;
	}

	.top-1 {
		border-bottom: 65px solid colors.$red;
    	width: 140px;
    	@extend %trapezium;
	}

	.level-1 {
    	border-bottom: 65px solid colors.$orange;
    	width: 280px;
    	@extend %trapezium;
	}


	.level-2 {
		border-bottom: 65px solid colors.$yellow;
    	width: 420px;
    	@extend %trapezium;
	}

	.level-3 {
		border-bottom: 65px solid colors.$blue;
    	width: 560px;
    	@extend %trapezium;
	}

	.level-4 {
		border-bottom: 65px solid colors.$brown;
    	width: 700px;
    	@extend %trapezium;
	}

	.bottom {
		border-bottom: 65px solid colors.$green;
    	width: 840px;
    	@extend %trapezium;
	}

}



