@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "collapse";
@import "icons";

@media (min-width: 992px) {
    .fixed-to-top {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
    }

    #seq {
        display: block;
    }

    #carouselExampleIndicators {
        display: none;
    }
}

@media (max-width: 991px) {
    #seq {
        display: none;
    }

    #carouselExampleIndicators {
        display: block;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.modal {
    background: rgba(000, 000, 000, 0.8);
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
}