@media (min-width: 992px) {
    .fixed-to-top {
        position: fixed;
        top: 2%;
        right: 0;
        z-index: 1;
    }

    #seq {
        display: block;
    }

    #carouselExampleIndicators {
        display: none;
    }
}

@media (max-width: 991px) {
    #seq {
        display: none;
    }

    #carouselExampleIndicators {
        display: block;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}