::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

@media (min-width: 992px) {
    .fixed-to-top {
        position: fixed;
        top: 2%;
        right: 0;
        z-index: 1;
    }

    #seq {
        display: block;
    }

    #carouselExampleIndicators {
        display: none;
    }
}

@media (max-width: 991px) {
    #seq {
        display: none;
    }

    #carouselExampleIndicators {
        display: block;
    }
}